In [1]:
from pypokerengine.api.game import setup_config, start_poker
from pypokerengine.players import BasePokerPlayer
from baseline_players import RandomPlayer
from bots.honest_player import HonestPlayer
# from baseline_players import HonestPlayer
from bots.fish_player import FishPlayer
from bots.fold_player import FoldPlayer
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
%matplotlib inline

In [2]:
N_RANDOM_PLAYERS = 6

config = setup_config(max_round=50, initial_stack=1500, small_blind_amount=15)
config.register_player(name="fishman", algorithm=FishPlayer())
config.register_player(name="foldman", algorithm=FoldPlayer())
config.register_player(name="honest", algorithm=HonestPlayer(150))
for i in range(N_RANDOM_PLAYERS):
    config.register_player(name="random" + str(i), algorithm=RandomPlayer())

In [7]:
%%time

def get_all_results(config, n_games=3):
    players_stack_dict = {}
    for player_info in config.players_info:
        players_stack_dict[player_info['name']] = []
        
    for i in tqdm(range(n_games)):
        for player_info in start_poker(config, verbose=0)['players']:
            players_stack_dict[player_info['name']].append(player_info['stack'])
            
    return pd.DataFrame(players_stack_dict)

res = get_all_results(config, n_games=30)
#3.4s/it 5:40 - my
#5.9s/it 9:59 - base

100%|██████████| 30/30 [02:11<00:00,  3.70s/it]

CPU times: user 2min 8s, sys: 1.63 s, total: 2min 10s
Wall time: 2min 11s

In [6]:
res.describe()

,fishman,foldman,honest,random0,random1,random2,random3,random4,random5
count,10.000000,10.00000,10.000000,10.0,10.000000,10.0,10.000000,10.000000,10.0
mean,8887.100000,723.00000,71.700000,0.0,1240.600000,0.0,1262.500000,1256.000000,0.0
std,6138.407529,187.32325,166.186007,0.0,3923.121665,0.0,3992.375546,3971.820741,0.0
min,0.000000,510.00000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0
25%,3028.000000,540.00000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0
50%,12553.500000,765.00000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0
75%,12897.750000,847.50000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0
max,12950.000000,1020.00000,505.000000,0.0,12406.000000,0.0,12625.000000,12560.000000,0.0

In [43]:
% time np.array([np.random.choice(52, 7, replace=False) for _ in range(1000)]) + 1

CPU times: user 35 ms, sys: 7.06 ms, total: 42.1 ms
Wall time: 36.9 ms

array([[46, 50, 49, ...,  6, 10, 45],
       [14, 41, 32, ..., 10,  9, 42],
       [11, 20, 22, ..., 28, 12, 48],
       ...,
       [ 4, 20, 22, ..., 39, 52, 33],
       [41, 20, 14, ...,  5, 45, 11],
       [44,  3, 18, ..., 13, 50,  5]])