In [116]:
from pypokerengine.api.game import setup_config, start_poker
from pypokerengine.players import BasePokerPlayer
from baseline_players import FishPlayer, HonestPlayer, RandomPlayer, FoldMan
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [135]:
N_RANDOM_PLAYERS = 8

config = setup_config(max_round=50, initial_stack=1500, small_blind_amount=15)
#config.register_player(name="risky", algorithm=RiskyPlayer())
config.register_player(name="fish", algorithm=FishPlayer())
config.register_player(name="coward", algorithm=FoldMan())
for i in range(N_RANDOM_PLAYERS):
    config.register_player(name="random" + str(i), algorithm=RandomPlayer())

In [136]:
%%time

def get_all_results(config, n_games=3):
    players_stack_dict = {}
    for player_info in config.players_info:
        players_stack_dict[player_info['name']] = []
        
    for i in range(n_games):
        for player_info in start_poker(config, verbose=0)['players']:
            players_stack_dict[player_info['name']].append(player_info['stack'])
            
    return pd.DataFrame(players_stack_dict)

res = get_all_results(config, n_games=30)

Wall time: 5.14 s

In [137]:
res.describe()

,coward,fish,random0,random1,random2,random3,random4,random5,random6,random7
count,30.000000,30.000000,30.0,30.000000,30.000000,30.000000,30.0,30.0,30.0,30.000000
mean,633.000000,11958.966667,0.0,443.933333,20.433333,1863.533333,0.0,0.0,0.0,1.266667
std,150.227414,5439.762339,0.0,2431.523007,111.917976,4832.374092,0.0,0.0,0.0,6.937819
min,510.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
25%,543.750000,14296.500000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
50%,585.000000,14331.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
75%,600.000000,14385.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
max,1005.000000,14415.000000,0.0,13318.000000,613.000000,14045.000000,0.0,0.0,0.0,38.000000